{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": true,
  "parser": "babel",
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.{css,scss,less}",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.{json,jsonc}",
      "options": {
        "parser": "json"
      }
    }
  ]
}
