{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "parser": "babel",
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.{css,scss,less}",
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": "*.{json,jsonc}",
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": "*.{html,jsx}",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ]
}